<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <test name="RegressionSuite">
        <classes>
            <class name="package com.gits.herokuapp.tests.ValidateLandingPageLinks" />
        </classes>
    </test>
</suite>